@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap);
html,
body {
  font-family: "Montserrat", sans-serif;
//   background-color:rgb(33, 2, 172)
}

.button {
  border-radius: 12px;
  background-color:#569CE6 ;
  color:white;
}

.button:hover {
  background-color:#4E68C7;
  color:white
}

.button-div {
  text-align: center;
  padding-top: 10px;
}

.list {
  text-align: center;
  list-style-type: none;
}

.new-word {
  text-align: center;
}

.add-word {
  text-align: center;
  align-items: center;
}

.login-boxes {
    text-align: center;
}

.back-button {
    text-align: center, bottom;
}

.title {
  text-align: center;
}

.link {
  text-align: center;
}