@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.list {
  text-align: center;
  list-style-type: none;
}

.new-word{
  text-align: center;
}

.add-word{
  text-align: center;
  align-items: center;
}

.title{
  text-align: center;
}
