@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap);
html,
body {
  font-family: "Montserrat", sans-serif;
//   background-color:rgb(33, 2, 172)
}

.button {
  border-radius: 12px;
  background-color:#569CE6 ;
  color:white;
}

.button:hover {
  background-color:#4E68C7;
  color:white
}

.button-div {
  text-align: center;
  padding-top: 10px;
}

.list {
  text-align: center;
  list-style-type: none;
}

.new-word {
  text-align: center;
}

.add-word {
  text-align: center;
  align-items: center;
}

.login-boxes {
    text-align: center;
}

.back-button {
    text-align: center, bottom;
}

.title {
  text-align: center;
}

.link {
  text-align: center;
}

.navbar {
    height: 60px;
    background-color: #242526;
    padding: 0 1rem;
    border-bottom: 1px solid #474a4d
}

.navbar {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
}



// .dropbtn {
//   background-color: #3498DB;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
//   cursor: pointer;
// }

/* Dropdown button on hover & focus */
// .dropbtn:hover, .dropbtn:focus {
//   background-color: #2980B9;
// }

/* The container <div> - needed to position the dropdown content */
// .dropdown {
//   position: relative;
//   display: inline-block;
//   height: let(--nav-size);
//   padding: 0 1rem;

// }

// /* Dropdown Content (Hidden by Default) */
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }